body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.logo a {
  text-decoration: none;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  color: rgb(86, 0, 151);
  text-transform: uppercase;
}

header ul {
  display: flex;
}

header li {
  padding-left: 40px;
}

header a {
  text-decoration: none;
  color: rgb(56, 2, 106);
  font-size: 25px;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

header ul a:hover {
  color: rgb(103, 235, 247);
  background-color: rgb(86, 0, 151);
}

footer {
  background: linear-gradient(55deg, rgb(218, 218, 225), rgb(179, 179, 234));
  padding: 7px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  list-style: none;
  height: 50px;
  width: 50px;
  margin: 0 25px;
}
footer img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
